{% extends "_base.html" %}
{% block content %}

<div class="container-fluid">

    <div class ="container-fluid">
        <h4>Choose a command:</h4><br/>
        <form method='POST' action='/commands'>
        <select name="submit">
            <option value="list">ls -l</option>
            <option value="uname">uname -a</option>
            <option value="shell">ssh to host</option>
            <option value="myping">ping host</option>
            <option value="tailme">tail -f /var/log/messages</option>
        </select>
        <input type="submit" name="submit" />
	    <br/>
        </form>
    </div>

    <div class="container-fluid">
        <br/>
        <h4>Command Results:</h4>
        <br/>
        {% for line in results %}
        {{ line }} <br>
        {% endfor %}
    </div>
    
</div>



{% endblock %}