{% extends "_base.html" %}
{% block content %}

<div class="container-fluid">
  <h3>Add a new task:</h3>
  <table>
    <tr>
      <form action="{{ url_for('new_task') }}" method="post">
        <td>
          <label>Task Name:</label>
          <input name="name" type="text" width="120px">
        </td>
        <td>
          <label>Food Item:</label>
          <input name="food_item" type="text" width="120px">
        </td>
        <td>
          <label>Comments:</label>
          <input name="comments" type="text" width="200px">
        </td>
        <td>
          &nbsp;
          <input class="button" type="submit" value="Add">
        </td>
      </form>
    </tr>
  </table>
</div>
<div class="container-fluid">
  <br>
  <br>
  <h2>Open tasks:</h2>
  <div class="datagrid">
    <table>
      <thead>
        <tr>
          <th width="100px"><strong>Name</strong></th>
          <th width="100px"><strong>Food Item</strong></th>
          <th width="100px"><strong>Comments</strong></th>
          <th><strong>Actions</strong></th>
        </tr>
      </thead>
      {% for task in open_tasks %}
        <tr>
          <td width="100px">{{ task.name }}</td>
          <td width="200px">{{ task.food_item }}</td>
          <td width="300px">{{ task.comments }}</td>
          <td>
            <a href="{{ url_for('delete_entry', potluck_id = task.potluck_id) }}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <br>
  <br>
</div>


{% endblock %}
