{% extends "_base.html" %}
{% block content %}

    <div class="container-fluid">

    <aside>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed diam erat, ultrices eget commodo sed, tincidunt sed sem. Etiam id ultricies felis. Nulla rhoncus, enim vitae blandit sagittis, felis enim eleifend quam, sit amet pulvinar nibh sem et mauris. Nam ante lacus, volutpat eu blandit sed, elementum in dolor. Vestibulum ultrices ultrices nunc, non aliquet metus pellentesque ut. Praesent sollicitudin, nisl non ornare malesuada, metus diam mattis magna, vel volutpat turpis elit et mauris. Nullam porttitor sapien ante, quis iaculis neque mollis eget. Praesent vitae rutrum mi. Duis congue mi quis purus ultrices interdum. Pellentesque vestibulum ut felis eleifend condimentum. Nulla facilisi. Donec et rhoncus mi. Sed interdum lorem a tellus rutrum, vitae semper arcu molestie.

    Quisque scelerisque aliquet est sit amet maximus. Donec quis mauris ligula. Aenean gravida erat non ipsum congue ultrices. Praesent dignissim erat leo, at vestibulum dolor scelerisque quis. Maecenas egestas, dolor a aliquam vehicula, dolor nunc aliquet est, nec congue tellus urna quis odio. Etiam eget ante mauris. Phasellus rutrum congue lobortis. Aliquam rutrum leo efficitur, hendrerit libero vitae, pellentesque nunc. Ut consequat lobortis magna ut dapibus. Mauris rhoncus orci a lobortis fringilla. Integer at purus et purus vestibulum viverra. Phasellus viverra ante sapien, in porttitor nunc tincidunt non. Fusce eget egestas nibh. Nullam vulputate rhoncus risus a elementum.

    </aside>

    </div>

{% endblock %}
